html, body {
	font-family: sans-serif;
	background-color: black;
	padding: 0;
	margin: 0;
}
h1 {
	margin: 0;
}
img {
	display: block;
}
.character_container div {
	display: inline-block;
}
.character_container div div {
	display: block;
}
.character_container div div div {
	width: 150px;
	height: 150px;
	display: inline-block;
}
.load {
	cursor: pointer;
	background-color: #4D4D4D;
}
#avatar {
	width: 458px;
	height: 612px;
}
.load:hover {
	background-color: #A3A3A3;
}
.long {
	width: 305px !important;
}
ul {
	min-width: 500px;
	display: block;
	list-style: none;
}
li, h1 {
	color: #8FE3AD;
}
li span {
	margin-left: 5px;
	display: inline-block;
	width: 100px;
}
li div {
	display: inline-block;
	height: 1em;
} 
div.stats_container {
	width: 300px;
	background-color: gray;
}
.stats_container div {
	width: 0;
	background-color: #8FE3AD;
	border-right: 1px solid #1FA9FF;
}
.stat_num {
	width: 30px;
}